// dt-formatter: multilineListCommaStyle="leading"

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&lt {
    bindings = <&sl>, <&kp>;

    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&mt {
    bindings = <&sk>, <&kp>;

    tapping-term-ms = <200>;
    quick-tap-ms = <200>;
    flavor = "balanced";
};

&mmv {
    time-to-max-speed-ms = <680>;
    acceleration-exponent = <2>;
};

/ {
    behaviors {
        hm: home_row_mod {
            display-name = "Home Row Mod";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&sk>, <&kp>;

            tapping-term-ms = <280>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <150>;
            flavor = "tap-preferred";
        };

        // Quick hold tap, i.e. for auto-shift

        ht: hold_tap {
            display-name = "Hold Tap (Quick)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&kp>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        // Unmodded: Left Shift | With Shift: Caps Word.
        // Unmodded: Right Shift | With Shift: Caps Word.
        // Hold: &ms_l | Tap: &kp
        // Hold: &ms_r | Tap: &kp

        dot_excl: dot_excl {
            display-name = "Period-Exclamation Mark";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp DOT>, <&kp EXCL>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        cmma_qmark: cmma_qmark {
            display-name = "Comma-Question Mark";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp COMMA>, <&kp QMARK>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        fslh_tild: fslh_tild {
            display-name = "Forward Slash-Tilde";
            compatible = "zmk,behavior-mod-morph";
            #binding-cells = <0>;
            bindings = <&kp FSLH>, <&kp TILDE>;

            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        htde: dot_excl_hold_tap {
            display-name = "Period-Exclamation Mark (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&dot_excl>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        htcq: cmma_qmark_hold_tap {
            display-name = "Comma-Question Mark (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&cmma_qmark>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        htft: fslh_tild_hold_tap {
            display-name = "Forward Slash-Tilde (Hold-Tap)";
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            bindings = <&kp>, <&fslh_tild>;

            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        lpar_lt: lpar_lt {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp LPAR>, <&kp LT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        rpar_gt: rpar_gt {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp RPAR>, <&kp GT>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        htll: lpar_lt_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&lpar_lt>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        htrg: rpar_gt_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&rpar_gt>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };

        coln_semi: coln_semi {
            compatible = "zmk,behavior-mod-morph";
            bindings = <&kp COLON>, <&kp SEMI>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        htcs: coln_semi_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&kp>, <&coln_semi>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        launcher: launcher {
            display-name = "Launcher";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&kp LG(SPACE)>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&kp LG(SPACE)>
                ;
        };

        swapper: swapper {
            display-name = "Swapper";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&kp LA(TAB)>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&kp LA(TAB)>
                ;
        };

        /**
         * Swap windows
         * Windows/Linux: Grave-Tab
         * MacOS: Ctrl-Tab (Cmd-Tab if CMD_SWAP)
         */
        /**
         * Swap applications
         * Windows/Linux: Alt-Tab
         * MacOS: Cmd-Tab
         */
        // Hold: Caps Lock; Tap: Caps Word

        as: autoshift {
            display-name = "Autoshift";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&macro_press>
                , <&macro_param_1to1 &macro_param_1to2 &ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&macro_param_1to1 &macro_param_1to2 &ht MACRO_PLACEHOLDER MACRO_PLACEHOLDER>
                ;
        };

        sh: shifted_keypress {
            display-name = "Shifted Keypress";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&macro_press>
                , <&kp LSHFT &macro_param_1to1 &kp MACRO_PLACEHOLDER>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&macro_param_1to1 &kp MACRO_PLACEHOLDER &kp LSHFT>
                ;
        };

        csh: custom_shifted_keypress {
            display-name = "Shifted Keypress (Custom)";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_tap>, <&macro_param_1to1 &kp MACRO_PLACEHOLDER>;
        };

        asde: autoshift_dot_excl {
            display-name = "Period-Exclamation Mark (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htde EXCL 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htde EXCL 0>
                ;
        };

        ascq: autoshift_cmma_qmark {
            display-name = "Comma-Question Mark (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htcq QMARK 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htcq QMARK 0>
                ;
        };

        asft: autoshift_fslh_tild {
            display-name = "Forward Slash-Tilde (Autoshift)";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htft TILDE 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htft TILDE 0>
                ;
        };

        asll: autoshift_lpar_lt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htll LT 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htll LT 0>
                ;
        };

        asrg: autoshift_rpar_gt {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htrg GT 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htrg GT 0>
                ;
        };

        ascs: autoshift_coln_semi {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press>
                , <&htcs SEMI 0>
                , <&macro_pause_for_release>
                , <&macro_release>
                , <&htcs SEMI 0>
                ;
        };
    };

    combos {
        compatible = "zmk,combos";

        to_base {
            bindings = <&to 0>;
            key-positions = <0 1>;
        };

        to_game {
            bindings = <&to 1>;
            key-positions = <2 1>;
        };

        lgui {
            bindings = <&sk LGUI>;
            key-positions = <38 39>;  //  AR
        };

        lcas {
            bindings = <&sk LA(LC(LSHFT))>;
            key-positions = <38 39 40>; // RS
        };

        lcs {
            bindings = <&sk LC(LSHFT)>;
            key-positions = <40 39>; // RST
        };

        rcs {
            bindings = <&sk RC(RSHFT)>;
            key-positions = <45 46>;  // ST
        };

        rcas {
            bindings = <&sk LCTRL>;
            key-positions = <46 45 47>;  // NE
        };

        rgui {
            bindings = <&sk RGUI>;
            key-positions = <47 46>;  // NEI
        };

        bt_prv {
            bindings = <&bt BT_PRV>;
            key-positions = <6 7>;  // RT2 RT3
        };

        bt_nxt {
            bindings = <&bt BT_NXT>;
            key-positions = <7 8>;  // RT3 RT4
        };

        bt_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <6 7 8>; // RT2 RT3 RT4
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "base";

            // ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓                 ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓
            // ┃       ┃       ┃       ┃       ┃       ┃       ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   Q   ┃   W   ┃   F   ┃   P   ┃   B   ┃                 ┃   J   ┃   L   ┃   U   ┃   Y   ┃   '   ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   A   ┃   R   ┃   S   ┃   T   ┃   G   ┃                 ┃   M   ┃   N   ┃   E   ┃   I   ┃   O   ┃       ┃
            // ╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┓ ┏━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   Z   ┃   X   ┃   C   ┃   D   ┃   V   ┃ ⌥-TAB ┃ ┃ ⌘-SPC ┃   K   ┃   H   ┃   ,   ┃   .   ┃   /   ┃       ┃
            // ┗━━━━━━━┻━━━━━━━┻━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫ ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┻━━━━━━━┻━━━━━━━┛
            //                         ┃       ┃  ESC  ┃  SPC  ┃  TAB  ┃ ┃ ENTE  ┃  BSPC ┃  DEL  ┃       ┃
            //                         ┃       ┃       ┃ (CTL) ┃ (SFT) ┃ ┃ (SFT) ┃ (CTL) ┃ (ALT) ┃       ┃
            //                         ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛ ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛

            bindings = <
&kp F12    &kp F1               &kp F2      &kp F3          &kp F4        &kp F5                                           &kp F6           &kp F7        &kp F8          &kp F9      &kp F10              &kp F11
&asll      &kp Q                &kp W       &lt 3 F         &kp P         &kp B                                            &kp J            &kp L         &lt 3 U         &kp Y       &as SQT              &ht GT RPAR
&as MINUS  &hm LC(LA(LSHFT)) A  &hm LALT R  &lt 2 S         &hm LGUI T    &hm LC(LSHFT) G                                  &hm RC(RSHFT) M  &hm RGUI N    &lt 2 E         &hm LALT I  &hm RC(LA(RSHFT)) O  &ascs
&as GRAVE  &kp Z                &kp X       &kp C           &kp D         &kp V            &swapper         &launcher      &kp K            &kp H         &ascq           &asde       &asft                &as BSLH
                                            &mt LGUI GRAVE  &mt LALT ESC  &mt LCTRL SPACE  &mt LSHFT TAB    &mt RSHFT RET  &mt RCTRL BSPC   &mt LALT DEL  &mt RGUI PSCRN
            >;
        };

        game {
            display-name = "game";

            // ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓                 ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓
            // ┃   `   ┃   1   ┃   2   ┃   3   ┃   4   ┃   5   ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃   F2  ┃   Q   ┃   W   ┃   F   ┃   P   ┃   B   ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃   F3  ┃   A   ┃   R   ┃   S   ┃   T   ┃   G   ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┓ ┏━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃   F4  ┃   Z   ┃   X   ┃   C   ┃   D   ┃   V   ┃ ⌥-TAB ┃ ┃       ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┗━━━━━━━┻━━━━━━━┻━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫ ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┻━━━━━━━┻━━━━━━━┛
            //                         ┃   =   ┃  ESC  ┃ SPACE ┃  TAB  ┃ ┃       ┃       ┃       ┃       ┃
            //                         ┃ (GUI) ┃ (ALT) ┃ (CTL) ┃ (SFT) ┃ ┃ (SFT) ┃ (CTL) ┃ (ALT) ┃ (GUI) ┃
            //                         ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛ ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛

            bindings = <
&kp F12    &kp F1   &kp F2  &kp F3          &kp F4         &kp F5                                          &kp F6          &kp F7        &kp F8          &kp F9  &kp F10   &kp F11
&asll      &kp Q    &kp W   &kp E           &kp R          &lt 3 T                                         &kp Y           &kp U         &lt 3 I         &kp O   &kp P     &asrg
&as MINUS  &kp A    &kp S   &kp D           &kp F          &kp G                                           &kp H           &kp J         &lt 2 K         &kp L   &as APOS  &ascs
&as GRAVE  &lt 2 Z  &kp X   &kp C           &kp V          &lt 2 B         &swapper         &launcher      &kp N           &kp M         &ascq           &asde   &asft     &as BSLH
                            &mt LGUI GRAVE  &mt LCTRL ESC  &mt LALT SPACE  &mt LSHFT TAB    &mt RSHFT RET  &mt RCTRL BSPC  &mt LALT DEL  &mt RGUI PSCRN
            >;
        };

        num {
            display-name = "num";

            // ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓                 ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓
            // ┃       ┃       ┃       ┃       ┃       ┃       ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   (   ┃   7   ┃   8   ┃   9   ┃   )   ┃                 ┃   {   ┃   &   ┃   #   ┃   @   ┃   }   ┃       ┃
            // ┣━━━━━━━┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   +   ┃   4   ┃   5   ┃   6   ┃   =   ┃                 ┃   ^   ┃   _   ┃   `   ┃   $   ┃   :   ┃       ┃
            // ╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┓ ┏━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃   *   ┃   1   ┃   2   ┃   3   ┃   \   ┃ ⌥-TAB ┃ ┃ ⌘-SPC ┃   |   ┃   %   ┃   <   ┃   _   ┃   ;   ┃       ┃
            // ┗━━━━━━━┻━━━━━━━┻━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫ ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┻━━━━━━━┻━━━━━━━┛
            //                         ┃       ┃   5   ┃   0   ┃   -   ┃ ┃   (   ┃   )   ┃   `   ┃       ┃
            //                         ┃       ┃ (ALT) ┃ (CTL) ┃ (SFT) ┃ ┃ (SFT) ┃ (CTL) ┃ (ALT) ┃       ┃
            //                         ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛ ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛

            bindings = <
&trans  &trans                     &trans          &trans     &trans           &trans                                                         &trans              &trans         &trans     &trans         &trans                   &trans
&trans  &as LT                     &kp KP_N7       &kp KP_N8  &kp KP_N9        &as GT                                                         &kp AMPS            &kp LBKT       &kp HASH   &kp RBKT       &kp GRAVE                &trans
&trans  &hm LC(LA(LSHFT)) KP_PLUS  &hm LALT KP_N4  &kp N2     &hm LGUI KP_N6   &hm LC(LSHFT) KP_EQUAL                                         &hm RC(RSHFT) PIPE  &hm RGUI LPAR  &kp GRAVE  &hm LALT RPAR  &hm LA(RC(RSHFT)) COLON  &trans
&trans  &kp KP_MULTIPLY            &kp KP_N1       &kp KP_N2  &kp KP_N3        &kp KP_DIVIDE           &trans                &trans           &kp BSLH            &kp LBRC       &kp PRCNT  &kp RBRC       &kp SEMI                 &trans
                                                   &trans     &mt LALT KP_DOT  &mt LCTRL N0            &mt LSHFT KP_MINUS    &mt RSHFT CARET  &mt RCTRL UNDER     &mt LALT DLLR  &trans
            >;
        };

        nav {
            display-name = "nav";

            // ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓                 ┏━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┳━━━━━━━┓
            // ┃       ┃       ┃       ┃       ┃       ┃       ┃                 ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃  F12  ┃  F7   ┃  F8   ┃  F9   ┃  F15  ┃                 ┃ HOME  ┃ PG DN ┃ PG UP ┃  END  ┃ mouse ┃       ┃
            // ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫                 ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃  F11  ┃  F4   ┃  F5   ┃  F6   ┃  F14  ┃                 ┃ LEFT  ┃ DOWN  ┃  UP   ┃ RIGHT ┃ PSCRN ┃       ┃
            // ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┓ ┏━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫
            // ┃       ┃  F10  ┃  F1   ┃  F2   ┃  F3   ┃  F13  ┃ ⌥-TAB ┃ ┃ ⌘-SPC ┃       ┃       ┃       ┃       ┃       ┃       ┃
            // ┗━━━━━━━┻━━━━━━━┻━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┫ ┣━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━╋━━━━━━━┻━━━━━━━┻━━━━━━━┛
            //                         ┃       ┃  ESC  ┃  SPC  ┃  TAB  ┃ ┃ ENTE  ┃  BSPC ┃  DEL  ┃       ┃
            //                         ┃       ┃ (ALT) ┃ (CTL) ┃ (SFT) ┃ ┃ (SFT) ┃ (CTL) ┃ (ALT) ┃       ┃
            //                         ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛ ┗━━━━━━━┻━━━━━━━┻━━━━━━━┻━━━━━━━┛

            bindings = <
&trans  &trans                 &trans       &trans  &trans       &trans                               &trans     &trans     &trans     &trans     &trans     &trans
&trans  &kp F15                &kp F7       &kp F8  &kp F9       &kp F12                              &kp HOME   &kp PG_DN  &kp PG_UP  &kp END    &kp INS    &trans
&trans  &hm LC(LA(LSHFT)) F14  &hm LALT F4  &kp F5  &hm LGUI F6  &hm LC(LSHFT) F11                    &kp LEFT   &kp DOWN   &kp UP     &kp RIGHT  &kp PSCRN  &trans
&trans  &kp F13                &kp F1       &kp F2  &kp F3       &kp F10            &trans    &trans  &sk RSHFT  &sk RCTRL  &sk LALT   &sk RGUI   &none      &trans
                                            &trans  &trans       &trans             &trans    &trans  &trans     &trans     &trans
            >;
        };
    };
};
