#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>

#include "behaviors/behaviors.dtsi"
#include "behaviors/alt_fn_morph.dtsi"
#include "behaviors/app_switcher.dtsi"
#include "behaviors/autoshift.dtsi"

#define QUICK_TAP_MS    150
#define TAPPING_TERM_MS 200

&lt {
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&sl>, <&kp>;
};

&mt {
    flavor = "balanced";
    tapping-term-ms = <TAPPING_TERM_MS>;
    quick-tap-ms = <QUICK_TAP_MS>;
    bindings = <&sk>, <&kp>;
};

&sk {
    release-after-ms = <1000>;
};

&sl {
    release-after-ms = <1000>;
};

#include "layers.h"
#include "keys.h"

#define ALT_TAB &ast 0 LA(TAB)
#define LAUNCH  LG(SPACE)

#define HM(mod, keycode) &hm mod keycode
#define HMS(keycode) &hm LSHFT keycode
#define HMC(keycode) &hm LCTL keycode
#define HMA(keycode) &hm LALT keycode
#define HMG(keycode) &hm LGUI keycode

/ {
    behaviors {
        ast: app_switcher_tap {
            compatible = "zmk,behavior-hold-tap";
            bindings = <&app_switcher APP &wm>, <&kp>;
            #binding-cells = <2>;
            tapping-term-ms = <TAPPING_TERM_MS>;
            flavor = "tap-preferred";
            display-name = "App Switcher-Tap";
        };

        wm: wndw_mgmt {
            compatible = "zmk,behavior-tri-state";
            #binding-cells = <0>;
            bindings = <&kt LALT>, <&kp TAB>, <&kt LALT>;
            ignored-key-positions = <13 26 27 28 29 30 31 32 33 45 52 53 54 55>;
            // 13 = Q
            // 26 27 28 29 = left-hand arrows
            // 30 31 32 33 = right-hand arrows
            // 45 = H
            // 52 53 = left-hand thumbs
            // 54 55 = right-hand thumbs
            display-name = "Window-Manager";
        };
    };

    combos {
        compatible = "zmk,combos";

        wm_combo {
            bindings = <&ast 0 LA(TAB)>;
            key-positions = <15 16>;  // FP
        };

        lalt {
            bindings = <&sk LALT>;
            key-positions = <26 27>; // RS
        };

        lgui {
            bindings = <&sk LGUI>;
            key-positions = <26 27 28>; // RST
        };

        lctl {
            bindings = <&sk LCTL>;
            key-positions = <27 28>;  // ST
        };

        rctl {
            bindings = <&sk LCTL>;
            key-positions = <31 32>;  // NE
        };

        rgui {
            bindings = <&sk LGUI>;
            key-positions = <31 32 33>;  // NEI
        };

        ralt {
            bindings = <&sk LALT>;
            key-positions = <32 33>;  // IO
        };

        c_pscrn {
            bindings = <&kp LC(PSCR)>;
            key-positions = <19 20>;  // LU
        };

        g_pscrn {
            bindings = <&kp LG(PSCR)>;
            key-positions = <19 20 21>;  // LUY
        };

        pscrn {
            bindings = <&kp PSCR>;
            key-positions = <20 21>;  // UY
        };

        to_mse {
            bindings = <&to MSE>;
            key-positions = <41 44>;  // VK
            layers = <0>;
        };

        to_base {
            bindings = <&to BASE>;
            key-positions = <42 43>;  // ENC1 ENC2
            layers = <1>;
        };

        to_game {
            bindings = <&to GAME>;
            key-positions = <43 42>;  // ENC1 ENC2
            layers = <0>;
        };

        bt_prv {
            bindings = <&bt BT_PRV>;
            key-positions = <56 55>;  // RT2 RT3
        };

        bt_nxt {
            bindings = <&bt BT_NXT>;
            key-positions = <56 57>;  // RT3 RT4
        };

        bt_clr {
            bindings = <&bt BT_CLR>;
            key-positions = <57 56 55>; // RT2 RT3 RT4
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "base";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃      `      ┃      1      ┃      2      ┃      3      ┃      4      ┃      5      ┃                             ┃      6      ┃      7      ┃      8      ┃      9      ┃      0      ┃      -      ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃      \      ┃      Q      ┃      W      ┃      F      ┃      P      ┃      B      ┃                             ┃      J      ┃      L      ┃      U      ┃      Y      ┃      '      ┃      ;      ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃      (      ┃      A      ┃      R      ┃      S      ┃      T      ┃      G      ┃                             ┃      M      ┃      N      ┃      E      ┃      I      ┃      O      ┃      )      ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃      [      ┃      Z      ┃      X      ┃      C      ┃      D      ┃      V      ┃   ALT TAB   ┃ ┃    LAUNCH   ┃      K      ┃      H      ┃      ,      ┃      .      ┃      /      ┃      ]      ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃             ┃     ESC     ┃     SPC     ┃     TAB     ┃ ┃    ENTER    ┃     BSPC    ┃     DEL     ┃             ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     AS_GRAVE      AS_N1         AS_N2         AS_N3         AS_N4         AS_N5                                       AS_N6         AS_N7         AS_N8         AS_N9         AS_N0         AS_MINUS
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     AS_BSLH       AS_Q          AS_W          AS_F          AS_P          AS_B                                        AS_J          AS_L          AS_U          AS_Y          AS_SQT        AS_SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     AS_LPAR2      AS_A          AS_R          AS_S          AS_T          AS_G                                        AS_M          AS_N          AS_E          AS_I          AS_O          AS_RPAR2
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     AS_LBKT       AS_Z          AS_X          AS_C          AS_D          AS_V          ALT_TAB          LAUNCH       AS_K          AS_H          AS_COMMA2     AS_DOT2       AS_FSLH       AS_RBKT
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               XXX           G_T(ESC)      NAV_T(SPC)    S_T(TAB)         C_T(RET)     NUM_T(BSPC)   G_T(DEL)      XXX
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        game {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "game";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃      =      ┃      1      ┃      2      ┃      3      ┃      4      ┃      5      ┃                             ┃      6      ┃      7      ┃      8      ┃      9      ┃      0      ┃      -      ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃      `      ┃      Q      ┃      W      ┃      F      ┃      P      ┃      B      ┃                             ┃      J      ┃      L      ┃      U      ┃      Y      ┃      '      ┃      ;      ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃     SYM     ┃      A      ┃      R      ┃      S      ┃      T      ┃      G      ┃                             ┃      M      ┃      N      ┃      E      ┃      I      ┃      O      ┃     SYM     ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃     NUM     ┃      Z      ┃      X      ┃      C      ┃      D      ┃      V      ┃   ALT TAB   ┃ ┃    LAUNCH   ┃      K      ┃      H      ┃      ,      ┃      .      ┃      /      ┃     NUM     ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃     GUI     ┃  ESC (CTL)  ┃  SPC (ALT)  ┃  TAB (SHFT) ┃ ┃  RET (SHFT) ┃ BSPC (ALT)  ┃  DEL (CTL)  ┃     GUI     ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     &kp EQUAL     &alt_f1       &alt_f2       &alt_f3       &alt_f4       &alt_f5                                     &alt_f6       &alt_f7       &alt_f8       &alt_f9       &alt_f10      &kp MINUS
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     &kp GRAVE     &kp Q         &kp W         &kp F         &kp P         &kp B                                       &kp J         &kp L         &kp U         &kp Y         &kp APOS      &kp SEMI
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     &sl SYM       &kp A         &kp R         &kp S         &kp T         &kp G                                       &kp M         &kp N         &kp E         &kp I         &kp O         &sl SYM
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     &sl NUM       &kp Z         &kp X         &kp C         &kp D         &kp V         ALT_TAB         LAUNCH        &kp K         &kp H         &kp COMMA     &kp DOT       &kp FSLH      &sl NUM
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               &kp LGUI         C_T(ESC)         A_T(SPC)         S_T(TAB)           S_T(RET)         A_T(BSPC)         C_T(DEL)         &kp LGUI
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        nav {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "nav";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃     ^-Q     ┃     ^-W     ┃     ^-T     ┃     ^-P     ┃     ^-B     ┃                             ┃    HOME     ┃  PAGE DOWN  ┃   PAGE UP   ┃     END     ┃    MOUSE    ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃     GUI     ┃     ALT     ┃    CTRL     ┃    SHFT     ┃    ^-⇧-B    ┃                             ┃    LEFT     ┃    DOWN     ┃     UP      ┃    RIGHT    ┃  ^-PAGE UP  ┃             ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃    UNDO     ┃     CUT     ┃    COPY     ┃    PASTE    ┃    REDO     ┃   ALT TAB   ┃ ┃    LAUNCH   ┃   ^-LEFT    ┃   ^-DOWN    ┃    ^-UP     ┃   ^-RIGHT   ┃ ^-PAGE DOWN ┃             ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃             ┃     ESC     ┃     SPC     ┃     TAB     ┃ ┃    ENTER    ┃     BSPC    ┃     DEL     ┃             ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp LC(Q)     &kp LC(W)     &kp LC(F)     &kp LC(P)     &kp LC(B)                                   &kp HOME      &kp PG_DN     &kp PG_UP     &kp END       &to MSE       ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     &kp LC(LS(G))                               &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     &kp LC(PG_UP) ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           UK_UNDO       UK_CUT        UK_COPY       UK_PASTE      UK_REDO       ___             ___           &kp LC(LEFT)  &kp LC(DOWN)  &kp LC(UP)    &kp LC(RIGHT) &kp LC(PG_DN) ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               ___           ___           ___           ___             ___           ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        num {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "num";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      [      ┃      7      ┃      8      ┃      9      ┃      ]      ┃                             ┃      {      ┃      &      ┃      #      ┃      @      ┃      }      ┃      ;      ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      ;      ┃      4      ┃      5      ┃      6      ┃      =      ┃                             ┃      +      ┃      ^      ┃      _      ┃      $      ┃      :      ┃     SYM     ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      `      ┃      1      ┃      2      ┃      3      ┃      \      ┃      <      ┃ ┃      >      ┃      |      ┃      %      ┃      (      ┃      )      ┃      ~      ┃     NUM     ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃             ┃      !      ┃      0      ┃      -      ┃ ┃             ┃             ┃             ┃             ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp LBKT      &kp N7        &kp N8        &kp N9        &kp RBKT                                    &kp LBRC      &kp AMPS      &kp HASH      &kp AT        &kp RBRC      ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           HMG(SEMI)     HMA(N4)       HMC(N5)       HMS(N6)       &kp EQUAL                                   &kp PRCNT     HMS(CARET)    HMC(UNDER)    HMA(DLLR)     HMG(COLON)    ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp GRAVE     &kp N1        &kp N2        &kp N3        &kp BSLH      &kp LT          &kp GT        &kp PIPE      &kp STAR      &kp LPAR      &kp RPAR      &kp TILDE     ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               ___           &kp EXCL      &kp N0        &kp MINUS       ___           ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        sym {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "symbol";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      [      ┃      &      ┃      *      ┃      )      ┃      ]      ┃                             ┃    PSCRN    ┃   ⇧-PSCRN   ┃   ^-PSCRN   ┃   ⎇-PSCRN  ┃   ❖-PSCRN   ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      ;      ┃      $      ┃      %      ┃      ^      ┃      =      ┃                             ┃     CAPS    ┃     SHFT    ┃     CTL     ┃     ALT     ┃     GUI     ┃             ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃      `      ┃      !      ┃      @      ┃      #      ┃      \      ┃   ALT TAB   ┃ ┃    LAUNCH   ┃     REDO    ┃    PASTE    ┃    COPY     ┃     CUT     ┃    UNDO     ┃             ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃             ┃      (      ┃      )      ┃      _      ┃ ┃             ┃             ┃             ┃             ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           AS_LBKT       &kp AMPS      &kp LT        &kp GT        AS_RBKT                                     &kp PSCR      &kp LS(PSCR)  &kp LC(PSCR)  &kp LA(PSCR)  &kp LG(PSCR) ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp COLON     &kp DLLR      &kp PRCNT     &kp CARET     &kp PLUS                                    &cw CAPS 0    &sk LSHFT     &sk LCTRL     &sk LALT      &sk LGUI      ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp TILDE     &kp STAR      &kp AT        &kp HASH      &kp PIPE      ___             ___           UK_REDO       UK_PASTE      UK_COPY       UK_CUT        UK_UNDO       ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               ___           &kp LPAR      &kp RPAR      &kp UNDER       ___           ___           ___           ___
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        mse {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "mouse";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃     ^-Q     ┃     ^-W     ┃     ^-F     ┃     ^-P     ┃     ^-B     ┃                             ┃  SCRL LEFT  ┃  SCRL DOWN  ┃   SCRL UP   ┃  SCRL RIGHT ┃    BASE     ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃     GUI     ┃     ALT     ┃     CTL     ┃    SHFT     ┃    ^-⇧-G    ┃                             ┃  MOVE LEFT  ┃  MOVE DOWN  ┃   SCRL UP   ┃  MOVE RIGHT ┃             ┃             ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃    UNDO     ┃     CUT     ┃    COPY     ┃    PASTE    ┃    REDO     ┃   ALT TAB   ┃ ┃    LAUNCH   ┃    REDO     ┃    PASTE    ┃    COPY     ┃     CUT     ┃    UNDO     ┃             ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃     MB5     ┃     MB4     ┃     MB1     ┃     MB2     ┃ ┃     MB2     ┃     MB1     ┃     MB4     ┃     MB5     ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp LC(Q)     &kp LC(W)     &kp LC(F)     &kp LC(P)     &kp LC(B)                                   MS_WHLL       MS_WHLD       MS_WHLU       MS_WHLR       &to BASE      ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &sk LGUI      &sk LALT      &sk LCTRL     &sk LSHFT     &kp LC(LS(G))                               MS_MMVL       MS_MMVD       MS_MMVU       MS_MMVR       &to BASE      ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp LC(Z)     &kp LC(X)     &kp LC(C)     &kp LC(V)     &kp LC(LS(Z)) ___             ___           UK_REDO       UK_PASTE      UK_COPY       UK_CUT        UK_UNDO       ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               &mkp MB5      &mkp MB4      &mkp MB1      &mkp MB2        &mkp MB2      &mkp MB1      &mkp MB4      &mkp MB5
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };

        app {
// ┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┓

            display-name = "app";

// ┗━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┛
// ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓                             ┏━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┳━━━━━━━━━━━━━┓
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┣━━━━━━━━━━━━━┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫                             ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃   LEFT      ┃    DOWN     ┃     UP      ┃    RIGHT    ┃             ┃                             ┃             ┃    LEFT     ┃    DOWN     ┃     UP      ┃    RIGHT    ┃             ┃
// ╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┓ ┏━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫
// ┃             ┃             ┃             ┃             ┃             ┃             ┃                             ┃             ┃             ┃             ┃             ┃             ┃             ┃
// ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┫ ┣━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━╋━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
//                                           ┃             ┃    BASE     ┃   ALT TAB   ┃     RET     ┃ ┃     RET     ┃   ALT TAB   ┃    BASE     ┃             ┃
//                                           ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛ ┗━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┻━━━━━━━━━━━━━┛
            bindings = <
// ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬─────────────╮                             ╭─────────────┬─────────────┬─────────────┬─────────────┬─────────────┬──────────────╮
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           ___           ___           ___           ___           ___                                         ___           ___           ___           ___           ___           ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤                             ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___                                         ___           &kp LEFT      &kp DOWN      &kp UP        &kp RIGHT     ___
// ├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼─────────────┬─────────────╮ ╭─────────────├─────────────┼─────────────┼─────────────┼─────────────┼─────────────┼──────────────┤
     ___           ___           ___           ___           ___           ___           ___             ___           ___           ___           ___           ___           ___           ___
// ╰─────────────┴─────────────┴─────────────┼─────────────┼─────────────┼─────────────┼─────────────┤ ├─────────────├─────────────┼─────────────┼─────────────┼─────────────┴─────────────┴──────────────╯
                                               ___           &to BASE      &wm           &kp RET         &kp RET       &wm           &to BASE      ___
//                                           ╰─────────────┴─────────────┴─────────────┴─────────────╯ ╰─────────────┴─────────────┴─────────────┴─────────────╯
            >;
        };
    };
};
